<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin_page</title>
    <link rel="stylesheet" href="/static/welcome.css">
</head>
<body>
  <section class="back">
  <center>
  <section class="card">
  <h2>Admin Page</h2>
  <a href="{{url_for('admin_login')}}"><button class="btn1">Login</button></a>
  <a href="{{url_for('register')}}"><button class="btn2">Register</button></a>
  </section>
  </center>
  </section>
</body>
</html>