<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin_dashboard</title>
    <link rel="stylesheet" href="/static/admin.css">
</head>
<style>
    
</style>
<body>
    <section class="admin">
    <div class="data">
    <div><h1>Admin_dashboard</h1></div>
    <div class="set">
    <div><form method="GET" action="{{ url_for('admin_dashboard') }}" style="margin-bottom:20px;">
    <input class="search" type="text" name="search" placeholder="Search by name"
           value="{{ request.args.get('search','') }}"
           style="padding:8px;border-radius: 10px;"></div>
    <div><button type="submit" style="padding:4px;background-color: #2980b9;width:100px;border-radius: 10px;margin-top: 20px;margin-bottom: 20px;">Search</button></form></div></div>
    <div><a href="{{url_for('logout')}}" class="logout-btn">Logout</a></div>
    </div>
    </section>
</form>

    <div class="summary-cards">

    <div class="card total">
        <h3>Total Leads</h3>
        <p>{{ total }}</p>
    </div>

    <div class="card new">
        <h3>New Leads</h3>
        <p>{{ new }}</p>
    </div>

    <div class="card contacted">
        <h3>Contacted</h3>
        <p>{{ contacted }}</p>
    </div>

    <div class="card converted">
        <h3>Converted</h3>
        <p>{{ converted }}</p>
    </div>

</div>

    <table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Message</th>
        <th>Source</th>
        <th>Status</th>
        <th>Notes</th>
        <th>Follow up</th>
        <th>Date</th>
        <th>Actions</th>
    </tr>
    {% for lead in leads %}
    <tr>
        <td>{{lead[0]}}</td>
        <td>{{lead[1]}}</td>
        <td>{{lead[2]}}</td>
        <td>{{lead[3]}}</td>
        <td>{{lead[4]}}</td>
        <td>{{lead[5]}}</td>
        <td>{{lead[6]}}</td>
        <td>{{lead[7]}}</td>
        <td>{{lead[8]}}</td>
        <td>{{lead[9].strftime('%d-%m-%Y %H:%M')}}</td>
        <td><a href="/edit/{{lead[0]}}"><button class="edit-btn">Edit</button></a>
        <a href="/delete/{{lead[0]}}" onclick="return confirm('Are you sure you want to delete this lead?');"><button class="delete-btn">Delete</button></a></td>
        
    </tr>
    {% endfor %}
    </table>
</body>
</html>