<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRM</title>
    <link rel="stylesheet" href="/static/welcome.css">
</head>
<body>
  <section class="back">
  <center>
  <section class="card">
  <h2>Welcome to Lead Management CRM</h2>

<p>
This CRM application is designed to manage customer inquiries, track lead progress,
and improve conversion rates. The system provides structured data management,
status tracking for better decision-making.
</p>

<p>
Please navigate through the dashboard to explore features.
</p>
  <a href="{{url_for('admin_page')}}"><button class="btn1">Admin</button></a>
  <a href="{{url_for('user_page')}}"><button class="btn2">User</button></a>
  </section>
  </center>
  </section>
</body>
</html>